# Code 

import RPi.GPIO as GPIO
import time

GPIO.setmode(GPIO.BCM)

# SECTION 1 - SETTING PINS AND PWMs
servo_pin_x = 17
servo_pin_y = 27
servo_pin_z = 22


joy_pin_x = 2
joy_pin_y = 3
joy_pin_z = 4  


GPIO.setup(servo_pin_x, GPIO.OUT)
GPIO.setup(servo_pin_y, GPIO.OUT)
GPIO.setup(servo_pin_z, GPIO.OUT)


GPIO.setup(joy_pin_x, GPIO.IN)
GPIO.setup(joy_pin_y, GPIO.IN)
GPIO.setup(joy_pin_z, GPIO.IN)

pwm_x = GPIO.PWM(servo_pin_x, 50)
pwm_y = GPIO.PWM(servo_pin_y, 50)  
pwm_z = GPIO.PWM(servo_pin_z, 50)

# SECTION 2 - DEFINING 3 FUNCTIONS
def read_joystick(pin):
    return GPIO.input(pin)


def map_value(value, in_min, in_max, out_min, out_max):
    return (value - in_min) * (out_max - out_min) / (in_max - in_min) + out_min


def set_angle(servo, angle):
    duty = angle / 18 + 2  
    servo.ChangeDutyCycle(duty)
    time.sleep(0.1)

try:
   
    pwm_x.start(0)
    pwm_y.start(0)
    pwm_z.start(0)

    while True:
       
#SECTION 3 - INPUTS TO THE FUNCTIONS
        joy_x = read_joystick(joy_pin_x)
        joy_y = read_joystick(joy_pin_y)
        joy_z = read_joystick(joy_pin_z)

       
        angle_x = map_value(joy_x, 0, 1, 0, 140)
        angle_y = map_value(joy_y, 0, 1, 0, 90)
        angle_z = map_value(joy_z, 0, 1, 0, 30)

       
        set_angle(pwm_x, angle_x)
        set_angle(pwm_y, angle_y)
        set_angle(pwm_z, angle_z)

except KeyboardInterrupt:
   
#SECTION 4 - HANDLING ANY EXCEPTIONS
    pwm_x.stop()
    pwm_y.stop()
    pwm_z.stop()
    GPIO.cleanup()
